body {
  /* font-family: 'Pontano Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #EEF2F6;
}

/* #close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
} */

h3 {
  margin: 0px;
}

.container-viz {
  text-aligns: center;
  /* margin-left: 5%; */

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.col-md-7 {
  margin-left: 6%;
}

#container {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container {
  /* width: 100%; */
  /* max-width: inherit; */
  text-align: center;
}

/* HEADER */
.navbar {
  justify-content: left;
  /* color: green; */
}


.jumbotron {
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
  margin-bottom: 10px;
  /* padding-top: 0; */
  /* text-align: center; */
  color: black;
  background-color: #dee6ed;
  border-radius: 0;
}

.legendColor {
  background-color: gray;
}

.jumbotron img {
  /* text-align: left; */
  height: 5.375em;
}

.form-inline {
  margin-bottom: 0;
  /* justify-content: right; */
}


/* #mytabs a {
    position: absolute;
    left: -5em;
    transition: 0.2s;
    padding: 1em;
    width: 6.25em;
    text-decoration: none;
    font-size: 1em;
    font-weight: 1000;
    text-shadow: 0.2em 0.2em 0.2em black;
    color: white;
    border-radius: 0 0.3125em 0.3125em 0;
}

#mytabs a:hover {
    left: 0;
}

#Home {
    top: 3em;
    background-color: #007399;
}

#Sweden {
    top: 7em;
    background-image: url("https://lipis.github.io/flag-icon-css/flags/4x3/se.svg");
    background-size: 6.25em 4.125em;
}

#Mongolia {
    top: 11em;
    background-image: url("https://lipis.github.io/flag-icon-css/flags/4x3/mn.svg");
    background-size: 6.25em 3.5em;
}

#contact {
    top: 15em;
    background-color: #00394d;
} */

/* CONTACT PAGE */

.memberContainer{
  display: inline-block;
  height: 100%;
  width: 100%;
}

/* .memberContainer p {
  font-weight: bold;
} */

.card img {
  padding-right: 0.625em;
  display: block;
  width: 100%;
  clip: rect(0px, 50px, 50px, 0px,);
}

/* .memberInfoBox {
  display: inline-block;
  margin: 0.625em;
} */

/* Three columns side by side */
.col {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.cardinfo-container {
    padding: 0 16px;
}

/* Clear floats */
.cardinfo-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.role {
    color: grey;
}

/* TEMPORARY */
.content {
  text-align: center;
  /* background-color: #F1F0F0 */
}

/* TEMPORARY */

.btn {
  display: inline-block;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.btn-outline {
background-color: white;
margin-left: 0.625em;
border-radius: 0.125em;
font-weight: 1000;
}

.btn-outline:hover {
  border-bottom: 0;
  background-color: grey;
}

.btn-secondary {
  /* border-radius: 8px; */
  background: transparent;
  border: none;
  padding-left: 0;
  float: right;
}

.btn-secondary:hover {
  color: black;
  background: transparent;
}

.btn-secondary:focus, .btn-secondary:active {
  background-color: grey;
  border-style: outset;
  outline: none;
  box-shadow: none;
  padding: none;
}

a.btn {
  color: black;
  font-weight: 1000;
}

.unImg {
  width: 100%;
  border-radius: 0.2em;

}

.image-container {
    position: relative;
    /* text-align: center; */
    color: white;
}

.image-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  max-width: 11.1em;
  font-weight: 900;
  display: none;
  color: black;
}

.btn-default:hover {
  border-bottom: 2px solid #007bff;
  /* color: black; */
}

.current.btn {
  border-bottom: 2px solid #007bff;
}

/* .btn:active [href^="#page2"] {
  border-bottom: 2px solid #007bff;
} */

/* Page 2 */
.contentStyle {
  /* em or % ?*/
  font-size: 112.5%;
  font-weight: 1000;
}

h5 {
  font-size: 130%;
}

.pointer {
  cursor: pointer;
  margin: 0;
  padding: 0.3125em;
  font-weight: 1000;
}

/* .active {
  font-weight: 1000;
} */
li {
  list-style-type: none;
  padding-left: 1.0625em;
  max-width: 21.875em;
}

.posToNeg {
  font-weight: 1000;
  font-size: 112.5%;
}

#boxDescription {
  /* padding: 10px; */
  /* border-radius: 5px; */
  /*background-color: #7A7A79;*/
  color: #FFFFFF;
  /* height: 500px;
  width: 500px; */
  width: 100%;
  height: auto;
  /* visibility: hidden; */
  display: none;
  /* display: inline-block; */
}

#boxDescription .targetTitel {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /* font-size: 25px; */
}

#boxDescription p{
  /* font-weight: bold; */
  /* font-size: 100px; */
}

#boxHistory {
  background-color: #F1F0F0
  color: #FFFFFF;
}

/* For bar chart*/

@keyframes expand {
  from {width: 0%;}
  to {width: 100%;}
}

.stacked-bar-graph {
  overflow: hidden;
  width: 100%;
  height: 2.375em;
 /* // background: #eee; */
  color:#414042;
  animation-delay: .1s;
  animation: expand 1.5s ease forwards;
}
  span {
    display: inline-block;
    height:100%;
    box-sizing: border-box;
    float: left;
  /* //  color: #fff; */
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 87.5%;
    padding: 0.625em;
    text-align: left;

  }

  .pos-bar-1:empty, .pos-bar-2:empty, .pos-bar-3:empty, .neu-bar:empty, .neg-bar-1:empty, .neg-bar-2:empty, .neg-bar-3:empty {
    display: none;
  }

  .pos-bar-1,
  .legend li:nth-of-type(5):before {
    overflow: hidden;
    background: #D4E578;
    }


  .pos-bar-2,
  .legend li:nth-of-type(6):before {
    background: #96CE7E;
  }

  .pos-bar-3,
  .legend li:nth-of-type(7):before {
    background: #62BF77;
  }

  .neu-bar,
  .legend li:nth-of-type(4):before {
    background: yellow;
  }

  .neg-bar-3,
  .legend li:nth-of-type(3):before {
    background: #F1A772;
  }

  .neg-bar-2,
  .legend li:nth-of-type(2):before {
    background: #F0686A;
  }

  .neg-bar-1,
  .legend li:nth-of-type(1):before {
    background: #A54A47;
    /* overflow: hidden; */
  }

  .legend {
    margin: 0 auto;
    padding: 0;
	   font-size: 0.9em;
     vertical-align: middle;
     width: 100%;
     /* display: none; */

     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
/*
#legend {
  display: none;
} */


.legendInfo {
  padding-top: 0.625em;
  text-align: center;
}

  .legend li {
    /* list-style-type: circle; */
    display: inline-block;
    /* padding: .25em 1em; */
    line-height: 1em;
}

.legend li:before {
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 0.625em;
    height: 0.625em;
	   background-color: #334D5C;
}

.icon {
  width: 2.6em;
  height: 2em !important;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #7EC686;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* boxy around content */
.boxy {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.boxy::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12.5px;
    background-color: white;
    border: 4px solid #7EC686;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the boxy to the left */
.left {
    left: 0;
}

/* Place the boxy to the right */
.right {
    left: 50%;
}

/* Add arrows to the left boxy (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #EEF2F6;
}

/* Add arrows to the right boxy (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #EEF2F6 transparent transparent;
}

/* Fix the circle for boxys on the right side */
.right::after {
    left: -12.5px;
}

/* The actual content */
.content1 {
    padding: 20px 30px;
    background-color: #EEF2F6;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width boxys */
  .boxy {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .boxy::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #EEF2F6 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right boxys behave like the left ones */
  .right {
    left: 0%;
  }
}
