.node {
/*  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
font-family: 'Pontano Sans', sans-serif;
font-size: 1.2em;
}

.node_1 {
  fill: #E6223D;
}
.node_2 {
  fill: #DEA73A;
}
.node_3 {
  fill: #4CA247;
}
.node_4 {
  fill: #C72030;
}
.node_5 {
  fill: #EF402E;
}
.node_6 {
  fill: #26BFE7;
}
.node_7 {
  fill: #FBC412;
}
.node_8 {
  fill: #A41C45;
}
.node_9 {
  fill: #F26A2F;
}
.node_10 {
  fill: #DF1768;
}
.node_11 {
  fill: #F99C2A;
}
.node_12 {
  fill: #C08E2D;
}
.node_13 {
  fill: #3F7F47;
}
.node_14 {
  fill: #1F97D5;
}
.node_15 {
  fill: #5ABA47;
}
.node_16 {
  fill: #136A9F;
}
.node_17 {
  fill: #13496B;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.node:hover {
  /*fill: #000;*/
  fill: #1F97D5;
}

.link {
  /* stroke: steelblue; */
  stroke-opacity: 0.4;
  fill: none;
  pointer-events: none;
  position: absolute;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--focus {
  fill: #1F97D5;
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.node-conflict {
  fill: #BD69FF;
}

.noAttention{
  fill: #cccccc;
}

.node3 {
  fill: #62BF77;
}

.node2 {
  fill: #96CE7E;
}

.node1 {
  fill: #D4E578;
}

.node-3 {
  fill: #A54A47;
}

.node-2 {
  fill: #F0686A;
}

.node-1 {
  fill: #F1A772;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}

rect:hover {
      fill: #1F97D5;
    }

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: Futura;
  font-size: 16px;
  line-height: 20px;
}


/*---second order--*/
/*.node {
  cursor: pointer;
}*/

/*.node circle {
  fill: #999;
  stroke: steelblue;
  stroke-width: 1.5px;
}*/

/*.node text {
  font: 10px sans-serif;
}*/

/*.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}*/