.node {
/*  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
font-family: 'Pontano Sans', sans-serif;
font-size: 12px;
  fill: #bbb;
}

.node:hover {
  /*fill: #000;*/
  fill: #1F97D5;
}

.link {
  /* stroke: steelblue; */
  stroke-opacity: 0.4;
  fill: none;
  pointer-events: none;
  position: absolute;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--focus {
  fill: #1F97D5;
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.node6 {
  fill: #277137;
}

.node5 {
  fill: #349248;
}

.node4 {
  fill: #62BF77;
}

.node3 {
  fill: #89C96D;
}

.node2 {
  fill: #9BD066;
}

.node1 {
  fill: #CADF76;
}

.node-6 {
  fill: #8F2A28;
}

.node-5 {
  fill: #A54A47;
}

.node-4 {
  fill: #D7201D;
}

.node-3 {
  fill: #E54542;
}

.node-2 {
  fill: #F0686A;
}

.node-1 {
  fill: #F1A772;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}
